<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% console.log(animals) %>
    <h1>This is an index of my Animals</h1>
    <% for(let i = 0; i < animals.length; i++) { %>
        <a href="/animals/<%= animals[i].species %>">
            <h3>Species: <%= animals[i].species %></h3>
        </a>
        
    <% } %>



</body>
</html>